$primary: #D34A24;
$primary-dark: #A23D22;
$background: #3f414c;
$background-dark: #25272a;
$font-color: #d9d9d9;

@import 'bootstrap/scss/bootstrap';

.bg-dark{
    background-color: $background-dark;
}

.text-default{
    color: $font-color;
}

body{
    background-color: $background;
}

hr{
    border-color: white;
    border-width: 2px;
    border-style: dotted;
    border-width: 0;
    border-top-width: 3px;
    opacity: 1;
}

ul{
    position: absolute;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li{
        a{
            margin: 0px;
            padding: 0px;
            text-align: center;
        }
    }
}

li:hover{
    background-color: $primary-dark;
}

.disco{
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    object-fit: cover;
}

#dropdown-header{
    display: none;
}

#dropdown-header-parent{
    transition: ease-in-out 3s;
}

#dropdown-header-parent:hover #dropdown-header{
    cursor: pointer;
    display: block;
}

.tab-content{
    @extend .text-default;
    margin-left: 35px;
    margin-top: 10px;
    display: none;
    animation: fadeEffect 0.666s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}